@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #14274e;
    background-color: #f1f6f9;
}

header {
    padding: 10px;
    background-color: #14274e;
    color: #f1f6f9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}

.title-startup {
    margin-left: 10px;
}

.navbar-menu img {
    margin: 7px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

.pesanan-form {
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pesanan-form p {
    margin-top: 25px;
    margin-bottom: 7px;
}

.pesanan-form .data-diri {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pesanan-form .data-diri input {
    font-family: 'Raleway', sans-serif;
    height: 35px;
    outline: none;
    border: 1px solid #14274e;
    border-radius: 5px;
    padding: 4px;
}

textarea {
    font-family: 'Raleway', sans-serif;
    outline: none;
    border: 1px solid #14274e;
    border-radius: 5px;
    padding: 4px;
}

.submit-section input, .submit-section button {
    font-family: 'Raleway', sans-serif;
    width: 70px;
    height: 40px;
    font-weight: bold;
    outline: none;
    border: 1px solid #14274e;
    border-radius: 5px;
    margin: 3px auto;
    padding: 4px;
}

.submit-section button:hover {
    background-color: #14274e;
    color: #f1f6f9;
}

footer {
    height: 70px;
    text-align: center;
    background-color: #14274e;
    color: #f1f6f9;
    margin-top: 50px;
    line-height: 70px;
}

@media (max-width : 800px) {
    .pesanan-form {
        width: 300px;
    }
}